<div class="well">

	<form method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<input type="submit" class="btn btn-primary" />
	
	</form>
</div>	
	<script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
</div>